html{
    font-size: 10px;
    background-color: transparent;
    /* -webkit-overflow-scrolling: touch; */
}
body{
    font-size: 14px;
}
iframe{
    border-width: 0px;
}
*{
    padding: 0;
    margin: 0;
    list-style: none;
    user-select: none;
}
::-webkit-scrollbar{
    width: 0px;
}